.aboutText{
    color:white;
    margin-bottom: 5em;
}
.containerAbout{
    display: flex;
    flex-wrap:wrap;
    background-color: #2B2B2B;
}
.col{
    flex:1;
}
.col2{
    flex:2;
    padding-right: 4em;
    padding-left: 4em;

}
.picsize{
    width:300px;
    height:auto;
    border: darkblue solid 0.1em;
    border-radius: 3%;
    margin-top: 3em;   
}
.aboutH1{
    font-size: 3em;
}
.aboutP{
    font-size: 1em;
    text-align: justify;
}