#home{
    height: 100vh;
    color:white; 
    text-shadow: 0px 1px 1px rgba(0, 0, 0, .8);
    background: url("../images/drilldown.jpg") no-repeat center fixed;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}
.containerName{
    height:100%;
    display:grid;
}
.name{
    font-size: 6em; 
    margin:20% auto auto auto;
}
.job{
    font-size: 2.2em;
}
@media only screen and (max-width: 960px){
    #home{
        background-attachment:scroll;
    }
    .name{
        margin-top: 35vh;
        font-size: 50px;
    }
    .job{
        font-size: 30px;
    }
}