#projects{
    color: black;
    background-color: white;
}
.containerProjects{
    display:flex;
    flex-wrap: wrap;
    margin-top: -2em;
    margin-bottom: 2em;
}
.colP{
    flex:1;
    padding-left: 2em;
    padding-right: 2em; 
}
.projectpic{
    width:300px;
    height:auto;
    border: #B75562 solid 0.1em;
    border-radius: 3%;
    margin-top: 3em;   
}
p{
    text-align: justify;
}
