#skills{
    background-color: lightslategrey;
    width: 80%;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top:-1.5em;
    padding-top: 2em;
}
.containerSkills{
    display: flex;  
    color: black;
}
.skillsH1{
    margin:auto;
    font-size: 2em;
}
.row{
    display: flex;
}
.icons{
    font-size:5em;
    color:#61DBFB;
}